# =========================
# Python cache & bytecode
# =========================
__pycache__/
*.py[cod]
*$py.class

# =========================
# Virtual environments
# =========================
venv/
.env/
.venv/
env/
Backup_24Nov2025/
.streamlit/
# =========================
# Streamlit
# =========================
.streamlit/secrets.toml

# =========================
# IDEs / Editors
# =========================
.vscode/
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs & temp files
# =========================
*.log
*.tmp
*.swp

# =========================
# Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Data & artifacts
# =========================
data/
*.csv
*.parquet
*TESTAPP_README.md
*test_app.py
*testapp.py